<div class="container">

  <h2>Add a Book to Library</h2>

  <div class="row">
    <div class="col-md-6">
  <form [formGroup]="bookForm">
    <p>
      <mat-form-field appearance="outline">
        <mat-label>Title</mat-label>
        <input matInput placeholder="The Hobbit" formControlName="title">
        <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
      </mat-form-field>
    </p>

    <p>
        <mat-form-field appearance="outline">
          <mat-label>ISBN</mat-label>
          <input matInput placeholder="978-3-16-148410-0" formControlName="isbn">
          <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
        </mat-form-field>
      </p>

      <p>
          <mat-form-field appearance="outline">
            <mat-label>Author</mat-label>
            <input matInput placeholder="J.R.R. Talkian" formControlName="author">
            <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
          </mat-form-field>
        </p>


  </form>
</div>
</div>
</div>